<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="unit-converter">
      <ion-icon name="swap-horizontal-sharp"></ion-icon>
      <ion-label>Unit Converter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calculator-tool">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Calculator Tools</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exchange-tool">
      <ion-icon name="wallet-sharp"></ion-icon>
      <ion-label>Exchange Tools</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
